/* ===== contenedor botones ===== */
.contenedorBoton{       
    margin: 0;    
    overflow-y: hidden;
}
.botonBaseUno{
    padding: 5px;
}
.table-responsive{   
    width: 100%;
    max-height: 50%;
}
.table-responsive::-webkit-scrollbar{
    width: 0;
    height: 0;
}
