html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;  
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

.fondoLogin{
    width: 300px;
    height: 300px;    
    border: 1px solid rgb(177, 173, 173);   
    border-top-right-radius: 80px;
}


.cabeceraLogin{
    width: 100%;
    height: 100px;   
    display: flex;
    align-items: center;
}
.cabeceraLogin img{
    width: 90px;
}
.cabeceraLogin h1{
    font-size: 35px;
    margin-left: 10px;
}


.cuerpoLogin{
    width: 100%;
    height: 200px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuerpoLogin input{
    width: 80%;
    margin-top: 10px;
}
.cuerpoLogin button{
    margin-top: 50px;
    width: 150px;

}