*, ::before, ::after {
    box-sizing: border-box; /* Evita que paddings o borders sumen tamaño al ancho/alto */
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: row;
}
.contenedor{
    flex:1;
    height: 100%;
    background-color: rgb(149, 4, 4);
}
.contenedor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}